*{

}

@media print {
 .afbeelding{
     width: 150%;
     display: block;
 }
    #leftdiv
    {
        float: left;
        width: auto;
    }

    #centerdiv{
        float: left;
        width: auto;
    }

    #rightdiv{
        width: auto;
    }
}
