body {
    font-family: 'Roboto', sans-serif !important;
    margin: 0;
    padding: 0;
    background-color: #fff !important;
    height: auto !important;
}

body#Body_Login {
    background-color: #44c8f5 !important;
}

.clearfix {
    clear: both;
}

header {
    background-color: #337ab7;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    border-bottom: 8px solid #47AAFF;
}

button {
    font-family: 'Roboto', sans-serif;
}

input[type="button"] {
    cursor: pointer;
}

header img {
    float: left;
}

header img {
    margin-left: 50px;
    width: 250px;
}

nav {
    margin-top: 50px;
    float: right;
}

nav ul li {
  
    display: inline-block;
    padding: 5px;
}
nav>ul{
	margin-top: 20px;
}
nav ul li a {
    font-family: 'Roboto', sans-serif;
	font-size: 16px;
    text-decoration: none;
    color: white;
    padding: 10px;
}

nav ul li a:hover {
    background-color: #47AAFF;
    color: black;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    text-decoration: none;
}

nav ul li a[href="#"] {
    background-color: #47AAFF;
    color: #ffffff;
}

nav ul li ul li a:hover {
    background-color: transparent;
    color: white;
}

header button {
    margin-top: 60px;
    background-color: #47AAFF;
    border-radius: 4px;
    border: 1px solid #47AAFF;
    width: 100px;
    padding: 10px 0;
    float: right;
    margin-right: 100px;
    margin-left: 100px;
}

header button a {
    color: #ffffff;
    text-decoration: none;
}

header button:hover {
    background-color: #4FD2FF;
    -webkit-transition: all 0.3s; /* Safari */
    transition: all 0.3s;
    cursor: pointer;
}
.Howestlogo
{
    width: 180px;
    height: 80px;
}

ul#ui-id-2{
    z-index: 100000000000000;
}

/* Dropdown menu bij Instellingen */
nav ul ul {
    display: none;
}

nav ul li:hover > ul {
    display: block;
}

nav ul ul {
    background: #5f6975; border-radius: 0; padding: 0;
    position: absolute; top: 100%;
}
nav ul ul li {
    float: none;
    display: block;
    background-color: #47AAFF;
    border-top: 1px solid #6b727c;
    border-bottom: 1px solid #575f6a;
    position: relative;
    padding: 15px 15px;
}
nav ul ul li a {
    color: #fff;
}

nav ul li ul li:first-child {
    margin-top: -20px;
}

nav ul li ul li:hover {
    background-color: #4FD2FF;
}

footer {
    height: 80px;
    background-color: #337ab7;
    border-top: 8px solid #47AAFF;
}

footer p {
    float: right;
    margin-right: 100px;
    font-size: 1.1em;
    color: white;
    margin-top: 30px !important;
}

footer p a {
    color: #47AAFF;
}

/* ----------- Login Formulier ----------- */

main#LoginFormulier {
    width: 480px;
    margin: 0 auto;
}

main#LoginFormulier img {
    display: block;
    margin: 50px auto;
    width: 250px;
}

section#Login {
    background-color: #ffffff;
    border-bottom: 40px solid #f2f2f2;
    border-radius: 8px;
    /*border-top: 8px solid #44c8f5;*/
    padding-top: 10px;
    box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.07);
}

section#Login h1 {
    color: #44c8f5;
    width: 180px;
    margin: 20px auto;
    text-align: center;
    font-weight: 400;
}

section#Login input[type="text"], section#Login input[type="email"], section#Login input[type="password"] {

    width: 300px;
    margin: 0 auto;
    display: block;
    border-radius: 4px;
    border: 1px solid #d9d9d9;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    margin-top: 19px;
    margin-bottom: 19px;
}

section#Login #chkHouIngelogd {
    margin-left: 80px;
    background-color: #ffffff;
    color: #ffffff;

}

section#Login label {
    color: #b2b2b2;
}

section#Login input[type="submit"] {
    margin: 20px 0;
    margin-left: 80px;
    text-align: center;
    background-color: #44c8f5;
    border-radius: 4px;
    border: 1px solid #44c8f5;
    color: #ffffff;
    width: 320px;
    padding: 15px 0;
    cursor: pointer;
}

section#Login input[type="submit"]:hover {
    background-color: #47AAFF;
}

/* ----------- Meld Defect Formulier ----------- */

p#Ingelogd {
    color: white;
    margin-top: 80px;
}

p#Ingelogd span {
    text-decoration: underline;
}

main#MeldDefectFormulier {
    width: 960px;
    margin: 0 auto;
    margin-top: 150px;
}

main#MeldDefectFormulier h1 {
    text-align: center;
    margin-bottom: 50px;
    margin-top: 190px;
    font-size: 3em;
}

main#MeldDefectFormulier section#MeldDefect {
    background-color: #f7f7f7;
    border-top: 8px solid #47AAFF;
    border-bottom: 40px solid #f2f2f2;
    border-radius: 8px;
    margin-bottom: 50px;
}

main#MeldDefectFormulier section#MeldDefect form {
    width: 480px;
    margin: 0 auto;
    margin-top: 30px;
}

main#MeldDefectFormulier section#MeldDefect input[type="text"],main#MeldDefectFormulier section#MeldDefect input[type="email"]  {
    width: 100%;
    display: block;
    border-radius: 4px;
    border: 1px solid #d9d9d9;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
}

div.gradient {
    height: 50px;
    background-color: red;
    border-radius: 8px;
    background:
    -webkit-linear-gradient(
            to right,
            green,
            orange,
            red
    );
    background:
    -o-linear-gradient(
            to right,
            green,
            orange,
            red
);
    background:
    -moz-linear-gradient(
            to right,
            green,
            orange,
            red
);
    background:
    linear-gradient(
            to right,
            green,
            orange,
            red
    );
}

main#MeldDefectFormulier textarea {
    width: 100%;
    display: block;
    border-radius: 4px;
    border: 1px solid #d9d9d9;
    padding: 5px;
    font-family: 'Roboto', sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
}

#chkHoudOpDeHoogte {
    margin-top: 30px;
}

main#MeldDefectFormulier input[type="submit"] {
    float: right;
    margin: 20px 0;
    background-color: #47AAFF;
    border-radius: 4px;
    border: 1px solid #47AAFF;
    color: #ffffff;
    width: 100px;
    padding: 10px 0;
    -webkit-transition: all 0.3s; /* Safari */
    transition: all 0.3s;
    cursor: pointer;
}

main#MeldDefectFormulier input[type="submit"]:hover {
    background-color: #4FD2FF;
    -webkit-transition: all 0.3s; /* Safari */
    transition: all 0.3s;
}

#slider.ui-slider .ui-slider-handle {
    width: 5px;
    height: 18px;
    margin-left: -5px;
    top: -4px;
    border: none;
    color: black;

}
#slider {
    height: 10px;
    margin-top: 19px;
    margin-bottom: 19px;
}

main#MeldDefectFormulier span
{
    color: #DC002F;
}

input:required:invalid, input:focus:invalid, textarea:required:invalid {
    background-image: url(../images/invalid.png);
    background-position: right;
    background-repeat: no-repeat;
    background-position: 450px;
}
input:required:valid textarea:required:valid, textarea:required:valid {
    background-image: url(../images/valid.png);
    background-position: right;
    background-repeat: no-repeat;
    background-position: 450px;
}



/* ----------- Overzicht ----------- */

main#Overzicht {
    width: 560px;
    margin: 0 auto;
    margin-top: 150px;
}

main#Overzicht h1 {
    text-align: center;
    margin-bottom: 75px;
}

main#Overzicht a {
    float: left;
    width: 240px;
    margin-bottom: 75px;
    height: 220px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 8px;
    box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.07);
    text-align: center;
    text-decoration: none;
    color: #a9a9a9;
    font-size: 1.4em;
    font-weight: 300;
}

main#Overzicht i {
    margin: 0 auto;
    margin-top: 70px;
    font-size: 3em;
    width: 140px;
}

main#Overzicht div {
    float: left;
    width: 240px;
    margin-right: 75px;
}

main#Overzicht div a p {
    padding-top: 10px;
}

main#Overzicht div:nth-child(3), main#Overzicht div:nth-child(5) {
    margin-right: 0;
}

main#Overzicht h1 {
    text-align: center;
    margin-bottom: 75px;
    margin-top: 200px;
    font-size: 3em;
}

.save.icon {
    padding: 35px;
    padding-top: 40px;
}

main#Instellingen_Overzicht {
    width: 960px;
    margin: 0 auto;
    margin-top: 150px;
}


main#Instellingen_Overzicht a {
    float: left;
    width: 240px;
    margin-bottom: 75px;
    height: 220px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 8px;
    box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.07);
    text-align: center;
    text-decoration: none;
    color: #a9a9a9;
    font-size: 1.4em;
    font-weight: 300;
}

main#Instellingen_Overzicht i {
    margin: 0 auto;
    margin-top: 70px;
    font-size: 3em;
    width: 140px;
    margin-bottom: 40px;
}

main#Instellingen_Overzicht div {
    float: left;
    width: 240px;
    margin-right: 75px;
    margin-bottom: 84px;
}

main#Instellingen_Overzicht div:nth-child(4) {
    margin-right: 0;
}

main#Instellingen_Overzicht div:nth-child(2) {
    margin-left: 50px;
}

main#Instellingen_Overzicht div a p {
    padding-top: 10px;
}

main#Overzicht a#first {
    background-color: #66b5d6;
    color: #ffffff;
}

main#Overzicht a#first:hover {
    transition: background-color 0.2s ease;
    background-color: #2EB5D6;
    color: #ffffff;
}

main#Overzicht a#second {
    background-color: #e87352;
    color: #ffffff;
}

main#Overzicht a#second:hover {
    transition: background-color 0.2s ease;
    background-color: #FF7352;
    color: #ffffff;
}

main#Overzicht a#third {
    background-color: #5fce9b;
    color: #ffffff;
}

main#Overzicht a#third:hover {
    transition: background-color 0.2s ease;
    background-color: #32CE9B;
    color: #ffffff;
}

main#Overzicht a#fourth {
    background-color: #eeca5a;
    color: #ffffff;
}

main#Overzicht a#fourth:hover {
    transition: background-color 0.2s ease;
    background-color: #EECA32;
    color: #ffffff;
}

main#Overzicht a#first:active, main#Overzicht a#second:active, main#Overzicht a#third:active, main#Overzicht a#fourth:active {
    box-shadow: inset -3px -3px 1px rgba(0, 0, 0, 0.07);
}

main#Instellingen_Overzicht h1 {
    text-align: center;
    margin-bottom: 150px;
    margin-top: 200px;
    font-size: 3em;
}

main#Instellingen_Overzicht a#first {
    background-color: #66b5d6;
    color: #ffffff;
}

main#Instellingen_Overzicht a#first:hover {
    transition: background-color 0.2s ease;
    background-color: #2EB5D6;
    color: #ffffff;
}


main#Instellingen_Overzicht a#second {
    background-color: #e87352;
    color: #ffffff;
}

main#Instellingen_Overzicht a#second:hover {
    transition: background-color 0.2s ease;
    background-color: #FF7352;
    color: #ffffff;
}

main#Instellingen_Overzicht a#third {
    background-color: #5fce9b;
    color: #ffffff;
}

main#Instellingen_Overzicht a#third:hover {
    transition: background-color 0.2s ease;
    background-color: #32CE9B;
    color: #ffffff;
}

main#Instellingen_Overzicht a#fourth {
    background-color: #eeca5a;
    color: #ffffff;
}

main#Instellingen_Overzicht a#fourth:hover {
    transition: background-color 0.2s ease;
    background-color: #EECA32;
    color: #ffffff;
}

main#Instellingen_Overzicht a#first:active, main#Instellingen_Overzicht a#second:active, main#Instellingen_Overzicht a#third:active {
    box-shadow: inset -3px -3px 1px rgba(0, 0, 0, 0.07);
}

/* ----------- Overzicht takenlijst ----------- */

.panel-default>.panel-heading {
    background-color: #fff !important;
}

.Card_Image {
    max-width: 200px;
    display: inline-block;
    float: right;
    margin-right: 35px;
    margin-bottom: 20px;
}

main{
margin-top: 150px;

}
#Popup {
    width: 50%;
}

.left {
    float: left;
    width: 40%;
}

.left img {
    width: 300px;
    max-width: 300px;
}

#close_Popup {
    font-size: 2em;
    top: 5px;
    right: 1rem;
    color: #000;
}

.right input:nth-child(1), .right textarea {
    width: 70%;
}

.right input:nth-child(2) {
    display: block;
    width: 70%;
    border-radius: 4px;
    border: 1px solid #cccccc;
}

.right input, .right textarea {
    border-radius: 4px;
    border: 1px solid #cccccc;
    padding: 10px;
    margin: 10px 0;
}

#btnOpslaan {
    width: 150px;
}

#btnVerwijder {
    width: 200px;
    float: left;
}

.right {
    float: right;
    width: 60%;
}

#Werknemer_Info {
    padding-left: 50px;
}

#modal_extern input {
    display: block;
    width: 70%;
    border-radius: 4px;
    border: 1px solid #cccccc;
}

#btnOpslaan {
    width: 150px;
}

#btnVerwijder {
    width: 200px;
    float: left;
}

#btnOpslaan_Intern, #btnOpslaan_Extern {
    width: 200px;
}

#btnVerwijder2 {
    width: 250px;
    float: left;
}

#Filter1 {
    margin-left: 100px;
    margin-right: 15px;
}

#Filter2 {
    margin-right: 15px;
}

#Filters_Zoek {
    display: inline-block;
    margin-left:15px;
}

#Filters_Zoek input {
    border-radius: 4px;
    padding: 10px;
    border: 1px solid #e0e0e0;
    background-color: #e0e0e0;
}

#Filters_Zoek input:nth-child(3) {
    margin-left: -10px;
}

header {
    z-index: 1;
}

.ui.search.icon {
    position: relative;
    right: 30px;
}

main#Overzicht_Takenlijst section#SelectedFilters {
    margin: 25px 0;
    margin-left: 100px;
}

main#Overzicht_Takenlijst section#SelectedFilters div {
    display: inline-block;
}

main#Overzicht_Takenlijst section#SelectedFilters h3 {
    margin-right: 10px;
    display: inline-block;
    font-size:1.5em;
}

main#Overzicht_Takenlijst h1 {
    text-align: center;
    margin-bottom: 50px;
    margin-top: 190px;
    font-size: 3em;
}

main#Overzicht_Takenlijst section#Filters p {
    margin-left: 100px;
}


main#Overzicht_Takenlijst section#Filters section:first-child {
    margin-top: -15px;
    margin-right: 50px;
}

main#Overzicht_Takenlijst section#Filters section:nth-child(2) {
    margin-right: 5px;
}

main#Overzicht_Takenlijst section#Filters section {
    float: left;
}

main#Overzicht_Takenlijst section#Filters section input {
    width: 150px;
    border-radius: 4px;
    border: 1px solid #d9d9d9;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
}

main#Overzicht_Takenlijst section#Taken {
     margin-left: 100px;

}

.Overzicht_Titels {
    background-color: #337ab7;
    width: 380px;
    text-align: center;
    color: #ffffff;
    font-weight: 300;
    border-radius: 4px;
    padding: 5px;
}

section#Medewerkers {
    margin-bottom: 50px;
}

main#Overzicht_Takenlijst section#Medewerkers h2 {
    width: 400px;
}

ul.cardlist {
    width: 250px;
    padding-left: 0;
}

ul li.card {
    list-style-type: none !important;
    background-color: #ffffff !important;
    margin-bottom: 10px !important;
    padding: 20px !important;
    box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.2) !important;
    border-radius: 4px !important;
    width: 240px !important;
    max-width: 240px !important;
    font-weight: 400 !important;
}

.draglist {
    max-width: 400px;
}


.lastcard {
    list-style-type: none;
    background-color: #ffffff;
    margin-bottom: 0px;
    box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    margin-top: -15px;
    border-top: 1px solid #cccccc;
    padding: 10px;

}

.card_final {
    list-style-type: none;
    width: 380px;
    max-width: 400px;
}

.card_final label {
    margin-left: 15px;
}

main#Overzicht_Takenlijst section.Section_Float {
    float: left;
    margin-right: 40px;
    padding: 10px;
    background-color: rgba(107,107,107,0.12);
    -webkit-box-shadow: 1px 1px 4px -2px rgba(107,107,107,0.70);
    -moz-box-shadow: 1px 2px 4px -2px rgba(107,107,107,0.70);
    box-shadow: 1px 1px 4px -2px rgba(107,107,107,0.70);
}

main#Overzicht_Takenlijst section#Medewerkers ul {
    list-style-type: none;
    background-color: #ffffff;
    margin-bottom: 0px;
    margin-top: 10px;
    padding: 20px;
    box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

}

.Werkman_Naam {
    border-bottom: 1px solid #cccccc;
    padding-bottom: 10px;
    font-weight: bold;
    font-size: 1.5em;
}


main#Overzicht_Takenlijst section#Medewerkers ul li {
    border-bottom: 1px solid #cccccc;
    max-width: 350px;
    margin-top: 10px;
}

main#Overzicht_Takenlijst section#Medewerkers ul li p {
    font-size: 1em;
    padding-top: 0;
}

main#Overzicht_Takenlijst section#Medewerkers ul li a {
    font-size: 1em;
    color: #000000;
}

.campus, .lokaal {
    margin-top: 10px;
    display: inline-block;
    font-weight: bold;
    float: right;
}

.campus {
    margin-right: 5px;
}

.lokaal {
    margin-right: 35px;
}

#Card_Prioriteit {
    width: 200px;
}

.print.icon {
    font-size: 1.5em;
    color: #337ab7;
    float: right;
}

.panel{
    margin-bottom: 10px;
    padding:10px;
}

.panel-default > .panel-heading {
    border-color: transparent;
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

/* ----------- Statistieken ----------- */

main#Statistieken h1 {
    text-align: center;
    margin-bottom: 50px;
    margin-top: 190px;
    font-size: 3em;
}

section#Werknemers p {
    margin-left: 100px;
    font-size: 1.5em;
}

section#Werknemers button:nth-child(2), section#Werknemers i:nth-child(2) {
    margin-left: 100px;
}

section#Werknemers button {
    margin-right: 10px;
    background-color: #ffffff;
    border-radius: 4px;
    padding: 10px;
    border: 1px solid #ffffff;
    width: 100px;
    cursor: pointer;
    margin-bottom: 25px;
}

section#Werknemers button:hover {
    background-color: #337ab7;
    color: white;
}

section#Werknemers button:active {
    background-color: #2C699E;
    color: white;
}

section#Werknemers div, section#Werknemers i {
    display: inline-block;
}

section#Werknemers div p {
    text-align: center;
    margin-top: -5px;
}

section#Werknemers i {
    background-color: #ffffff;
    color: #337ab7;
    padding: 25px;
    border-radius: 4px;
    font-size: 2.5em;
    cursor: pointer;
}

section#Werknemers i:hover {
    background-color: #337ab7;
    color: white;
    padding: 25px;
    border-radius: 4px;
    font-size: 2.5em;
}

section#Werknemers i:active {
    background-color: #2C699E;
    color: white;
}

section#Werknemers canvas#myChart1, section#Werknemers canvas#myChart2 {
    margin-left: 100px;
    width: 60%;
    height: 400px;
}

section#Werknemers h2 {
    margin-left: 100px;
}


section#Prestaties h2, section#PrioriteitDoorlooptijd h2 {
    margin-bottom: 50px;
}

section#Prestaties table, section#PrioriteitDoorlooptijd table{
    width: 90%;
    text-align: center;
    margin: 0 auto;
}

section#PrioriteitDoorlooptijd table{
    width: 30%;
}

section#Prestaties table tbody tr td, section#PrioriteitDoorlooptijd table tbody tr td{
    text-align: center;
}

section#Prestaties table tbody tr th, section#PrioriteitDoorlooptijd table tbody tr th {
    font-size: 1.3em;
}



section#Prestaties th, section#PrioriteitDoorlooptijd th {
    text-align: center;
}

section#Prestaties table, section#PrioriteitDoorlooptijd table {
    border-collapse: collapse;
    margin-bottom: 100px;
    box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.07);
    margin-left: 100px;
}
section#Prestaties table th, section#Prestaties table tr, section#Prestaties table td, section#PrioriteitDoorlooptijd table th, section#PrioriteitDoorlooptijd table tr, section#PrioriteitDoorlooptijd table td{
    border: 1px solid #ddd;
}

section#Werknemers div#Legende1, section#Werknemers div#Legende2 {
    border: 1px solid #cccccc;
    padding: 15px;
    width: 20%;
    margin-right: 200px;
    margin-top: 10px;
    float: right;
}

section#Werknemers h2 {
    margin-top: 50px;
}

section#Werknemers div#Legende1 p {
    margin: 0;
    font-size: 1.5em;
}

section#Werknemers input[type="checkbox"] {
    visibility: hidden;
}

section#Werknemers div:nth-child(2) {
    margin-left: 100px;
}

.Checkbox_Werknemer {
    margin-right: 10px;
    background-color: #ffffff;
    border-radius: 4px;
    border: 1px solid #ffffff;
    width: 100px;
    margin-bottom: 25px;
    padding: 10px 10px 10px 3px;
}

.Checkbox_Werknemer:hover {
    background-color: #337ab7;
    color: white;
    cursor: pointer;
}

.Checkbox_Werknemer:active {
    background-color: #2C699E;
    color: white;
}

section#Werknemers label {
    padding-left: 10px;
    padding-top: 15px;
    padding-bottom: 10px;
    cursor: pointer;
}

section#Werknemers div#Legende1 div#GeneratedLegende ul li, div#Legende2 div#GeneratedLegende2 ul li {
    list-style-type: none;
}

section#Werknemers div#Legende1 div#GeneratedLegende ul li span, div#Legende2 div#GeneratedLegende2 ul li span  {
    padding: 5px;
    margin-right: 5px;
    display: inline-block;
}

.liBorderH{
    border-style: solid;
    border-bottom: 3px solid #dc002f !important;
}
.liBorderG{
    border-style: solid;
    border-bottom: 3px solid #f2ea13 !important;
}
.liBorderL{
    border-style: solid;
    border-bottom: 3px solid #2ecc71 !important;
}
section#WerknemersFilter{
    margin-top: 20px;
    width: 2000px;
    margin-left:100px;
}
section#WerknemersFilter div{
    float:left;
}
section#WerknemersFilter label{
    margin-left: 30px;
    margin-top: 5px;
}

#Filter_Taak, #Filter_Lokaal {
    z-index: 0;
}

.ui.search.dropdown.selection {
    background-color: #e0e0e0;
    border: 1px solid #e0e0e0;
}
/* ----------- Instellingen ----------- */

main#Instellingen h1 {
    text-align: center;
    margin-top: 150px;
}

main#Instellingen h2 {
    margin-left: 100px;
}

main#Instellingen h3 {
    margin-left: 290px;
}

main#Instellingen section#Toevoegen {
    border-bottom: 1px solid #cccccc;
    padding-bottom: 50px;
}

main#Instellingen section#Tabel {
    margin-top: 50px;
}

.geenmargintop {
    margin-top: 0 !important;
}

main#Instellingen section#Tabel table.table {
    width: 70%;
    margin: 0 auto;
}
#DI_length, #DE_length, #DL_length, #OT_length{
    display:inline-block;
}

#DL_wrapper {
    margin-bottom: 50px;
}
#DI_paginate, #DE_paginate, #DL_paginate, #OT_paginate{
    display:inline-block;
float:right;
}
.bottom{
    margin: 0 auto;
    width: 70%;

}
.write.icon, .save.icon, .remove.icon {
    color: #3b83c0;
    font-size: 1.5em;
    cursor: pointer;
}
.ib{
    display: inline-block;
}
.ibb:hover{
    cursor: hand;
}
#Add_Externe_Werknemer {
    margin-top: -20px !important;
    margin-left: 150px;
}

#Add_Werknemer, #Add_Externe_Werknemer {
    width: 250px;
    display: block;
}

main#Instellingen section#Tabel table.table.table2 {
    margin-bottom: 50px;
}

main#Instellingen section#Toevoegen section {
    float: left;
}

/*main#Instellingen section#Toevoegen p  {
    float: left;
    margin-right: 50px;
    margin-left: 100px;
}*/

main#Instellingen section#Toevoegen input {
    width: 150px;
    border-radius: 4px;
    border: 1px solid #d9d9d9;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 50px;
}

#DE_wrapper {
    margin-bottom: 240px;
}

/*section#Toevoegen p {
    margin-top: 10px;
}*/

#hideintern, #hideextern {
    text-decoration: underline;
}

/* ----------- Instellingen ----------- */
/*
main#Instellingen h1 {
    text-align: center;
    margin: 50px;
}

main#Instellingen h2 {
    margin-left: 100px;
}

main#Instellingen h3 {
    margin-left: 290px;
}

main#Instellingen section#Toevoegen {
    border-bottom: 1px solid #cccccc;
    padding-bottom: 20px;
}

main#Instellingen section#Tabel {
    margin-top: 50px;
}

main#Instellingen section#Tabel table.table {
    width: 70%;
    margin: 0 auto;
}

#Add_Externe_Werknemer {
    margin-top: 20px;
}

#Add_Werknemer, #Add_Externe_Werknemer {
    width: 250px;
    display: block;
    margin-left: 100px;
}

main#Instellingen section#Tabel table.table.table2 {
    margin-bottom: 50px;
}

main#Instellingen section#Toevoegen section {
    float: left;
}

main#Instellingen section#Toevoegen p  {
    float: left;
    margin-right: 20px;
    margin-left: 100px;
}

main#Instellingen input {
    width: 150px;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 50px;
    border-radius: 4px;
    border: 1px solid #e0e0e0;
    background-color: #e0e0e0;
}

main#Instellingen section#Filters_Extern {
    margin-left: 285px;
    margin-top: 20px;
}*/


main#Instellingen_Extern h1 {
    text-align: center;
    margin-top: 190px;
    margin-bottom: 50px;
    font-size: 3em;
}

main#Instellingen_Extern h2 {
    margin-left: 100px;
}

main#Instellingen_Extern h3 {
    margin-left: 290px;
}

main#Instellingen_Extern section#Tabel {
    margin-top: 50px;
    margin-bottom: 50px;
}

main#Instellingen_Extern section#Tabel table.table {
    width: 70%;
    margin: 0 auto;
}

main#Instellingen_Extern #Add_Externe_Werknemer {
    margin-top: 20px;
}

main#Instellingen_Extern #Add_Werknemer, main#Instellingen_Extern #Add_Externe_Werknemer {
    width: 250px;
    display: block;
    margin-left: 290px;
}

main#Instellingen_Extern section#Tabel table.table.table2 {
    margin-bottom: 50px;
}

main#Instellingen_Extern section#Toevoegen section {
    float: left;
}

main#Instellingen_Extern input {
    width: 150px;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 50px;
    border-radius: 4px;
    border: 1px solid #e0e0e0;
    background-color: #e0e0e0;
}

main#Instellingen_Extern section#Filters_Extern {
    margin-left: 285px;
    margin-top: 20px;
}

main#Instellingen_Extern section#Filters_Extern p  {
    font-size: 1.5em;
}

main#Instellingen_Extern section#Toevoegen p {
    margin-left: 290px;
    font-size: 1.5em;
  }

main#Instellingen_Extern .right {
    float: none;
}

main#Instellingen_Extern div#Breadcrumb {
    margin-top: -120px;
    margin-left: 290px;
}

.instellingen {
    background-color: #47AAFF;
    color: #ffffff;
}

main#Instellingen_Extern section#Toevoegen input {
    width: 150px;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 50px;
    border-radius: 4px;
    border: 1px solid #e0e0e0;
    background-color: #e0e0e0;
}

main#Instellingen_Extern section#Toevoegen input:nth-child(2) {
    margin-left: 290px;
}

/* FINISH PAGINA */

.btnverstuur{
    margin: 20px 0;
    text-align: center;
    background-color: #44c8f5;
    border-radius: 4px;
    border: 1px solid #44c8f5;
    color: #ffffff;
    width: 150px;
    padding: 15px 0;
}

.finishcontainer{
    margin: 10px;
}

.txtbericht{
    margin-top: 20px;
}

.radiobt{
    margin-top: 20px;
}

.lbl{
    font-weight: bold;
}
.picturetable{
    width: 100px;
    height: 100px;
}
.opmaaktabel{
    width: 70%;margin: 0 auto;
}